.App {
  margin: 0 auto;
  max-width: 1000px;
  padding: 3rem;
}

.blocks {
  display: flex;
}

.blocks div {
  margin-right: 5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.square.entering {
  animation: square 1000ms ease-out forwards;
}

.square.exiting {
  animation: square 500ms ease-in alternate-reverse;
}

.square.exited {
  opacity: 0;
  transform: translateY(-100px);
}

.square.blue {
  background: cornflowerblue;
}

.square.orange {
  background: coral;
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 1;
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}
